@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap');

:root {
  font-family: 'Signika', sans-serif;
  line-height: 20PX;
  font-weight: 500;
}

body {
  background-color: #F3F0EB;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: 'Signika', sans-serif;

}

.p-component {
  font-family: 'Signika', sans-serif;
  font-size: initial;
  font-weight: normal;
}

.p-datatable .p-datatable-thead>tr>th {
  padding: 1rem 1rem;
  border: 1px solid #F3F7F5;
  background: #F3F7F5;
}

.p-datatable .p-datatable-header {
  background: #F3F7F5;
  border: none;
  border-bottom: 1px solid #E9EDF7;
}

.p-datatable .p-datatable-tbody>tr>td {
  border: none;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
  color: #000000;
}

.p-checkbox.p-highlight .p-checkbox-box {
  border-color: #76BC6A;
  background: #76BC6A;
}

.p-datatable .p-sortable-column.p-highlight {
  color: #278d45;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #278d45;

}

.p-datatable .p-paginator-bottom {
  background: #F3F7F5;

}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: white;
  border: 1px solid #278d45;
  color: #278d45;
  border-radius: 4px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: rgb(243 247 245);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #278d45;
  background: #eef2ff;
}

.p-dropdown {
  border: 1px solid #E9EDF7;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  color: #000000;
  border-radius: 4px;
  border: 2px solid #DFE3E8;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border-radius: 4px;
  border: 1px solid;
}

/* Dialog */
/* button */
.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #F3F7F5, 0 1px 2px 0 rgb(0, 0, 0);
}

.p-button {
  border: 1px solid #278d45;
  background: #278d45;
}

.p-button.p-button-outlined {
  background-color: transparent;
  color: #278d45;
  border: 1px solid #278d45;
}

.p-dialog .p-dialog-header {
  padding: 1.5rem;
  padding-bottom: 0;
}

.p-calendar:not(.p-calendar-disabled).p-focus>.p-inputtext {
  box-shadow: 0 0 0 0.2rem #F3F7F5;
  border-color: #F8C32C;
}

.p-inputtext:focus,
.p-inputtext:hover {
  border-color: #F8C32C;
  box-shadow: none;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;
  font-size: 1.4rem;
  color: #3D6649;
}

/* 
.custom-sort-icon .p-sortable-column-icon {
  color: #F14871 !important; 
} */